# ========================
# App
# ========================
AWS_NODEJS_CONNECTION_REUSE_ENABLED=1
LOGGER_NAME=
APP_PORT=
LOG_LEVEL=
SERVICE_NAME=

# ========================
# node providers
# ========================
TRON_GRID_URL=
TRON_GRID_API_KEY=
ETH_NETWORK=
INFURA_API_KEY=
BSC_NODE_URL=
BSC_CHAIN_ID=
BITCOIN_CHAINSTACK_URL=

# ========================
# webhook providers
# ========================
CF_TRON_SUBSCRIPTION_URL=

TATUM_URL=
TATUM_URL_US=

TATUM_API_KEY=
TATUM_API_KEY_US=
TATUM_HMAC_SECRET=

MORALIS_API_KEY=
TATUM_CALLBACK_URL=
# disabled while testing
CREATE_TATUM_SUBSCRIPTION_ON_CREATE_WALLET=
CREATE_MORALIS_SUBSCRIPTION_ON_CREATE_WALLET=
CREATE_CH_SUBSCRIPTION_ON_CREATE_WALLET=
CH_SUBSCRIPTION_URL=
CH_API_KEY=
CH_API_SECRET=

# ========================
# rate providers
# ========================

# ========================
# DB & SQS
# ========================
# Dynamo
DDB_VAULT_TABLE=
DDB_WALLET_TABLE=
DDB_TX_TABLE=
DDB_PROVIDER_SUBSCRIPTION_TABLE=
DDB_ACCOUNT_TABLE=
DDB_METRICS_TABLE=
DDB_ADDRESS_TABLE=
DDB_ASSET_TABLE=

# SQS
SQS_JOB_QUEUE=
SQS_WATCH_QUEUE_URL=

# RDS
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

# ========================
# other services
# ========================
SWEEP_MANAGER_URL=
USER_SERVICE_URL=

# ========================
# misc config
# ========================
TX_EXPIRATION_IN_SECS=
TRC_20_FEE_LIMIT=

